* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  position: relative;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: visible;
}


body {
  height: 100%;
}
