.listItem {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid white;
}

.imageContainer {
    flex-shrink: 1; /* Prevent the image container from shrinking */
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItemThumbnail {
    border-radius: .5rem;
    width: 100%; /* Let the image scale naturally */
    height: auto;
    object-fit: cover;
    max-width: 100%; /* Default max-width for desktop */
}

.listItem-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 240px;
}

.listItem-title {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .listItem-image_container {
        max-width: 240px;
    }

    .listItem-title {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .listItem-subtitle {
        font-size: .813rem;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
    .listItem-image_container {
        max-width: 200px;
    }

    .listItem-title {
        font-size: 1rem;
    }

    .listItem-subtitle {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 640px) {
    .listItem-image_container {
        width: 200px;
    }

    .listItem-title {
        font-size: 0.813rem;
    }

    .listItem-subtitle {
        font-size: 0.813rem;
    }
}


