#headerContainer {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

#test {
    position: fixed; /* Required So The Menu Scrolls With Screen */
    background-color: white;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#mobileIcon {
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 1024px) {
    #header {
        max-width: 90rem;
        padding: 0rem 4rem;
    }

    /* Displays Desktop Menu Options */
    #desktopNav {
        display: block;
    }

    /* Display Of Mobile Icon Set To None */
    #mobileIcon {
        display: none;
    }

    #headerContainer {
        height: 4.063rem;
    }

    #desktopNavList {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    #logoText {
        font-weight: 700;
    }

    .navItem {
        color: #FFF;
    }

    .navItem:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #A259FF;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
    #headerContainer {
        height: 4.063rem;
    }

    #header {
        padding:  0rem 1rem;
    }

    #desktopNav {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    #headerContainer {
        height: 4.063rem;
        padding:  0rem 1.5rem;
    }

    #header {
        padding: 4.063 1.5rem;
    }

    /* Enables The Mobile Menu. */
    #desktopNav {
        display: none;
    }

    #mobileIcon {
        display: block;
        width: 24px;
        height: 24px;
    }
}